<% include ./partials/header.ejs %>
    <header>
        <div class="logo">
            <h1><span style="color: rgba(165, 42, 42, 0.932);">Dev</span>Error</h1>
        </div>
        <div class="right-section">
            <div class="search-container">
                <input type="text" placeholder="  Search...">
                <button class="search-btn"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </header>
    <nav>
        <ul class="items">
            <li class="item-list"><a href="/home"><i class="fas fa-home"></i></a></li>
            <li class="item-list"><a href="/profile"><i class="fas fa-user"></i></a></li>
            <li class="item-list"><a href="/tags"><i class="fas fa-code"></i></a></li>
            <li class="item-list"><a href="/users"><i class="fas fa-users"></i></a></li>
        </ul>
    </nav>
    
<div class="posts">
<div class="post">
    <span class="img-cir">
    <img   src="/images/pro1.png" alt="Profile Picture" class="img-profile">
    </span>
    <div class="Text">
    <h2 class="profile-name">Raja singh</h2>
    <span class="date-text">Posted in Feed <samp>• 1h</samp></span>
    </div>
    <div class="img-txt">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam fugit 
        recusandae officiis sit, totam optio laudantium modi delectus est, omnis maiores error accusamus molestias. Blanditiis quaerat nulla soluta unde labore.
    </div>
</div>
</div>

<% include ./partials/footer.ejs %>