<% include ./partials/header.ejs %>
<div class="background">
<main id="login">
  <div class="title">
    <h1><span style="color: brown;">Dev</span>Error</h1>
    <h3>DevError easy to connect developer <br> in your coding life</h3>
  </div>
  <div class="container">
    <div class="login">
        <div class="login-wrap">
            <h2>Login</h2>
            
            <div class="form">
              <input type="text" placeholder="Email" name="Email" />
              <input type="password" placeholder="Password" name="Password" />
              <button> Sign in </button>
              <a href="/register"> <p> Don't have an account? Register </p></a>
            </div>
          </div>
  </div>
</main>
</div>
<% include ./partials/footer.ejs %>
